modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm start -- --hostname 0.0.0.0 --port 3000"]
build = ["sh", "-c", "npm run build"]

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 38552273
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- --hostname 0.0.0.0 --port 3000"

[[ports]]
localPort = 3000
externalPort = 80
